<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--<contextName>logback</contextName>-->
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p [%thread] %-5level [%c:%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/history.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <!--<totalSizeCap>1GB</totalSizeCap>-->
        </rollingPolicy>
        <encoder>
            <pattern>%d %p [%thread] %-5level [%c:%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="console"/>
            <!--<appender-ref ref="file" />-->
        </root>
        <logger name="com.eshore" level="debug"/>
    </springProfile>


    <springProfile name="test">
        <root level="info">
            <appender-ref ref="console"/>
            <!--<appender-ref ref="file" />-->
        </root>
        <logger name="com.eshore" level="debug"/>
    </springProfile>

    <springProfile name="product">
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </root>
        <logger name="com.eshore" level="info"/>
    </springProfile>

</configuration>